@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&display=swap');
:root{
    /* CSS HEX */
--verde-escuro: #2c6e49ff;
--verde-claro: #4c956cff;
--amarelo-fraco: #fefee3ff;
--bege: #ffc9b9ff;
--título: "Playfair Display", serif;
--texto: "Poiret One", sans-serif;
}

body{
    background-color: var(--verde-escuro);
    font-family: var(--texto);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
 
button{
    background-color: var(--bege);
    color: var(--amarelo-fraco);
    padding: 10px;
    border: 2px solid var(--white);
    border-radius: 8px;
    font-size: 20px;
    margin: 5px;
}


button:hover{
    background-color: var(--bege);
    color: var(--verde-escuro);
    transition: 0.5;
    border: 2px solid #000;
    box-shadow: 2px 2px 10px #000;
}


main{
  margin: 40px 20px;
  max-width: 90%;
  text-align: center;
  font-size: 28px;
}
