@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&display=swap');
:root{
    /* CSS HEX */
--verde-escuro: #2c6e49ff;
--verde-claro: #4c956cff;
--amarelo-fraco: #fefee3ff;
--bege: #ffc9b9ff;
--título: "Playfair Display", serif;
--texto: "Poiret One", sans-serif;
}

body{
    background-color: var(--verde-escuro);
    font-family: var(--texto);
}
